<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">

orly.ready.then((e)=>{

	var dialog = orly.q('orly-dialog');
	//print(`dialog: ${dialog}`);
	dialog.open();
	
	orly.on(dialog, 'save', (e)=>{
		e.preventDefault();
		print("Save clicked!");
		print("Closing the dialog. Wait for it...");
		
		setTimeout((e)=>{
			dialog.close();
		}, 2000);
	});
});
</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
			
			<orly-dialog class="invisible" dialogtitle="Team Member Information">
			  <div slot="body">
			    <div class="row">
			      <div class="col-6">
			        <label for="" class="font-weight-bold">Name</label>
			        <p>Nick Churros (1234)</p>
			      </div>
			      <div class="col-6">
			        <label for="" class="font-weight-bold">Supervisor</label>
			        <p>Mister Manager (4321)</p>
			      </div>
			    </div>
			  </div>
			</orly-dialog>
			
		</div>
	</div>
</div>
