<div id="contentHeader"></div> 
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Place curly bois around your try catch block.
// On error, the code inside of the catch block will fire.
// When exceptions occur, further JavaScript execution is stopped!
// try catch blocks will allow other JavaScript (outside of the try
// catch block) to continue executing.
// The word in the catch block is arbitrary (a placeholder). You can 
// make it whatever you like.
try {
	let x = a1 + b1;
} catch (err) {
	//print(`(catch): ${err}`);
	console.error(err);
	printError(err);
}
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Finally will always execute (even after an error is thrown)
try {
    let x = a1 + b1;
} catch (error) {
    print(`Error: ${error}`);
} finally {
    print("done");
}
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// We can throw an error if we want.
try {
	if (!a1) {
		throw Error("a1 is not defined yo!!");
	}
	
    let x = a1 + b1;
} catch (error) {
    print(`Error: ${error}`);
} finally {
    print("done");
}
</textarea>
<!-- var a1; if we declare a1, the code above will work. -->

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// We may have a really good reason to thrown an exception. The forEach
// function does NOT allow you to break out of the loop.

var arr = [1,2,3];
print(`Array contains 2: ${arrayContainsValue(arr, 2)}`);

function arrayContainsValue(arr, number) {
	var found = false;
	
	//try {
		arr.forEach((num)=>{
			print(`processing ${num}...`);
			
			if (num == number) {
				print(`Found ${number}!`);
				found = true;
				//break;
				//throw Error("done");
			}
		});
	//} catch (err) {
	//	return found;
	//}
	
	return found;
}

</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
