<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
//Maps
const i1 = { name: 'Cynthia' };
const i2 = { name: 'Jackson' };
const i3 = { name: 'Olive' };
const i4 = { name: 'James' };

var internDates = new Map();

// ways to populate a map
internDates.set(i1, 'fall');
internDates.set(i2, 'fall');
internDates.set(i3, 'spring');
internDates.set(i4, 'spring');

// chain .set()
/*
internDates
	.set(i1, 'fall')
	.set(i2, 'fall')
	.set(i3, 'spring')
	.set(i4, 'spring');
*/
// pass an array 
var internDates = new Map([
	[i1, 'fall'],
	[i2, 'fall'],
	[i3, 'spring'],
	[i4, 'spring'],
])

println(`internDates.size: ${internDates.size}`);
//what date does i3 have?
println(`internDates.get(i3): ${internDates.get(i3)}`);
//does the map contain an intern
println(`internDates.has(i4): ${internDates.has(i4)}`);
//create another intern 
const i5 = { name: 'Victor' };
println(`internDates.has(i5): ${internDates.has(i5)}`);
//change the date for i4
internDates.set(i4, "summer")
println(`internDates.get(i4): ${internDates.get(i4)}`);
//The delete() removes the specified element by key
internDates.delete(i4);
println(`internDates.size: ${internDates.size}`);
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Iterating Maps by Keys and Values
const i1 = { name: 'Cynthia' }, i2 = { name: 'Jackson' }, i3 = { name: 'Olive' }, i4 = { name: 'James' };
var internDates = new Map([[i1, 'fall'],[i2, 'fall'],[i3, 'spring'],[i4, 'spring'],])
// in our example, the intern objects are the keys
print("-- keys --");
// use a for...of loop to iterate over the keys
for (let i of internDates.keys())
	print(i.name);
// use Array.from to convert a map iterable object
let keys = Array.from(internDates.keys());
printObject("keys array: ", keys);
print("-- dates --");
// here we print the dates by using a for...of loop
for (let d of internDates.values())
	print(d);
// convert an iterable object to an array using spread syntax
let values = [ ...internDates.values()];
printObject("values arrary: ", values);
</textarea>


<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
//Iterating Maps with Entries
const i1 = { name: 'Cynthia' }, i2 = { name: 'Jackson' }, i3 = { name: 'Olive' }, i4 = { name: 'James' };
var internDates = new Map([[i1, 'fall'],[i2, 'fall'],[i3, 'spring'],[i4, 'spring'],])
// use the for...of to build an array 
var internArray = [];
for (let iDates of internDates.entries()){
	// entries provide an array
	print(`${iDates[0].name}: ${iDates[1]}`);
	// populate our array so we have all keys and values
	// as a single dimensional array
	internArray.push(iDates[0].name);
 	internArray.push(iDates[1]);  
}
printObject("internArray: ", internArray);
print("");
print("-- using the iterator object --");
// grab the iterator object
var mapIterator = internDates.entries();
printObject("mapIterator.next().value: ", mapIterator.next().value);
printObject("mapIterator.next().value: ", mapIterator.next().value);
print("");
print("-- getting an array with spread syntax --");
var anothaArray = [ ...internDates.entries()];
printObject("this is an array of arrays:", anothaArray);
</textarea>


<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
